<div class="min-h-screen hero bg-base-200">
  <div class="flex-col w-full hero-content lg:flex-row-reverse">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="flex-shrink-0 w-full max-w-sm shadow-2xl card bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <div class="flex m-auto">
            <h1 class="text-2xl font-bold text-right text-gray-600 md:text-3xl dark:text-gray-200">註冊</h1>
            <%= image_tag "iding_logo.png", class:" inline w-36 m-auto md:w-30 xl:w-30" %>
          </div>
          <div class="field">
            <%= f.label :email, '電子信箱',class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email", class: "input input-bordered  text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent"%>
          </div>
        </div>

        <div class="form-control">
          <div class="field">

            <%= f.label :password, '密碼',class: "label" %>
            <% if @minimum_password_length %>
            <span class="text-sm">( 密碼長度限制最少 <%= @minimum_password_length %> 字元 )</span>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input input-bordered  text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent" %>
          </div>
        </div>

        <div class="form-control">
          <div class="field">
            <%= f.label :password_confirmation, '確認密碼',class: "label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password", class: "input input-bordered  text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent"%>
          </div>
        </div>

        <div class="mt-6">
          <div class="field">
            <%= f.submit "註冊", class: "w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300" %>
          </div>
        </div>
    <% end %>
    

        <div class="my-1 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
          <p class="mx-4 mb-0 font-semibold text-center dark:text-neutral-200">OR</p>
        </div>

        <%= render "devise/shared/links" %>
          
        <p class="mx-8 mt-8 text-sm">已經有帳號了嗎？ <%= link_to "點我登入", new_session_path(resource_name), class:"text-blue-500 hover:text-blue-700 font-semibold mx-2" %> 
        </p>
    </div>
  </div>

  <div class="hidden lg:block lg:text-left lg:w-100">
    <%= image_tag "logo_column.png", class:" w-full py-2 m-auto md:w-30 xl:w-30" %> 
  </div>

</div>



