
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <div class="flex m-auto">
    <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "w-full bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4  border border-gray-300 " do %>
    <%= image_tag "google-icon.svg", class:"w-7 inline m-2" %> 
    <%= "Google" %>
    <% end %>
  </div>
  <% end %>
<% end %>


