<section data-controller="hamburger" class="h-screen lg:flex">
  <%= render "shared/adminSidebar" %> 

  <div>
    <%= render "/shared/adminNavbar"%>

  <div class="md:mx-4 md:flex">
    <section class='max-w-xs mx-auto mt-5 bg-white border-2 rounded-lg md:mx-0 md:max-w-md md:w-1/2 lg:w-1/4 '>
      <h2 class='py-2 text-2xl font-bold text-center border-b'>用餐時段調整</h2>
      <div class='p-6 text-left'>
        <div>
          <%= form_with(model: [:admin, @restaurant], data: { turbo: false }) do |f| %>
            <div class="w-2/3 mx-auto my-2">
              <%= f.label :mealtime, "用餐時間", class: 'text-base'  %>
              <%= f.number_field :mealtime, step: 5, class: 'iding-customer-input' %>
            </div>

            <div class="w-2/3 mx-auto my-2">
              <%= f.label :reserve_interval, "訂位間隔", class: ' text-base'%><span class = 'text-base'>(分鐘)</span>
              <%= f.number_field :reserve_interval, step: 5, class: 'iding-customer-input'%>
            </div>

            <div class="w-2/3 mx-auto my-2">
            <%= f.label :bookday_advance, '開放訂位的期間：',class:" text-base" %>
              <%= f.number_field :bookday_advance, min: 1, class: 'iding-customer-input' %>
            </div>
              <p><em class="text-xs">(設定顧客可以訂位的期間，從幾天後到幾天內。舉例： 設定 30 天就是可以訂明天到 30 天內的位子。)</em></p>
            <div class="flex items-center pt-4 space-x-4">
              <%= f.submit  class: "flex m-auto mt-8 px-5 py-2.5 font-medium text-white bg-teal-700 rounded-lg hover:bg-teal-800 ease-in-out" %>
            </div>
          <% end %>
        </div>
    </section>

      <section class='max-w-xs mx-auto mt-5 bg-white border-2 rounded-lg shadow lg:mx-5 md:mx-0 md:max-w-md md:w-1/2 lg:w-1/4'>
        <h2 class='py-2 text-2xl font-bold text-center border-b'>營業時段</h2>
        <div class='px-6 py-3 '>
          <div class="">
            <h3 class='py-2 text-lg font-bold '>新增營業時段：</h3>
            <%= form_with(model: @open_time, 
                          url: admin_restaurant_open_times_path(@restaurant),
                          local: false) do |f| %>
              <div data-controller='opentime' class= "mt-3">
                <div>
                  <div class="flex">
                    <span class="flex flex-col justify-center w-full">開始時間</span> <%= f.time_field :start_time, data: {opentime_target: 'startTime', action: 'change->opentime#compare'}, class: "iding-customer-input" %>
                  </div>
                  <div class='flex'>
                    <span class="flex flex-col justify-center w-full">結束時間</span> <%= f.time_field :end_time, data: {opentime_target: 'endTime', action: 'change->opentime#compare'}, class: "iding-customer-input" %>
                  </div>
                  <div class="my-4 text-center">
                    <%= f.submit '儲存', class: 'action-btn', data: {opentime_target: 'submit'}, disabled: true %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="mx-6">
            <%= render @open_times %>
          </div>
        </div>
      </section>

      <section class='max-w-xs mx-auto lg:mx-0 md:max-w-xl mt-5 bg-white border-2 shadow rounded-lg  min-w-[40%]' data-controller='holiday'>
        <h2 class='py-2 text-2xl font-bold text-center border-b'>公休日</h2>
        <div class='gap-2 p-6 text-left'>
          <div class='text-center'>
            <h3 class='mb-2 text-lg font-bold text-center lg:text-left'>新增公休日：</h3>
            <div class='flex flex-wrap gap-1' id='holiday-selector'>
              <% @week.each do |date| %>
                <button class='inline-block w-12 mx-1 md:w-auto unselect-btn' 
                      data-date='<%= date.strftime('%a') %>'
                      data-holiday-target='date'
                      data-action='click->holiday#getDate'>
                  <%= date.strftime('%a')%>
                </button>
              <% end %>
            </div>
            
            <%= form_with(model: @holiday, 
                          url: admin_restaurant_holidays_path(@restaurant)) do |f| %>
              <%= f.hidden_field :dayoff, data: {holiday_target: 'input'}, value: '' %>
              <%= f.submit '新增', class: 'w-16 void-btn mt-4 inline-block', data: {holiday_target: 'submit'}, disabled: true %>
            <% end %>
          </div>
          
          <div class="grid grid-cols-1 grid-rows-3 gap-2 mt-auto lg:col-span-3 md:grid-cols-3 xl:col-span-2 xl:grid-cols-2">
            <%= render @holidays %>
          </div>
        </div>
      </section>
    </div>
</section>





