
  <section class='w-1/2 mx-auto mt-3 mb-auto bg-white border rounded'>
    <h2 class='py-2 text-2xl font-bold text-center border'>營業時段</h2>
    <div class='p-6 text-left lg:grid-cols-2 lg:grid '>
      <div class="">
        <h3 class='py-2 text-lg font-bold text-center lg:text-left'>新增營業時段：</h3>
        
        <%= form_with(model: @open_time, 
                      url: admin_restaurant_open_times_path(@restaurant),
                      local: false) do |f| %>
          <div data-controller='opentime' class= "mt-3">
            <div class='text-center'>
              <div>
                <span>開始時間 : </span><%= f.time_field :start_time, data: {opentime_target: 'startTime', action: 'change->opentime#compareTime'}%>
              </div>
              <div class='mt-3 mb-4'>
                <span>結束時間 : </span><%= f.time_field :end_time, data: {opentime_target: 'endTime', action: 'change->opentime#compareTime'} %>
              </div>
              <%= f.submit '儲存', class: 'action-btn', data: {opentime_target: 'submit'}, disabled: true %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='max-w-xs grid-cols-1 gap-2 mx-auto gird md:grid md:grid-cols-2 lg:block'>
        <%= render @open_times %>
      </div>
    </div>
  </section>

  <section class='w-6/12 mx-auto mt-3 mb-auto bg-white border rounded' data-controller='holiday'>
  <h2 class='py-2 text-2xl font-bold text-center border'>公休日</h2>
  <div class='gap-2 p-6 text-left lg:grid lg:grid-cols-6'>
    <div class='text-center lg:col-span-3 xl:col-span-4'>
      <h3 class='mb-2 text-lg font-bold text-center lg:text-left'>新增公休日：</h3>
      <div class='grid grid-cols-2 gap-2 lg:grid-cols-3 xl:grid-cols-4 ' id='holiday-selector'>
        <% @week.each do |date| %>
          <button class='inline-block w-full unselect-btn' 
                data-date='<%= date.strftime('%a') %>'
                data-holiday-target='date'
                data-action='click->holiday#getDate'
          >
            <%= date.strftime('%a') %>
          </button>
        <% end %>
      </div>
      
      <%= form_with(model: @holiday, 
                    url: admin_restaurant_holidays_path(@restaurant)) do |f| %>
        <%= f.hidden_field :dayoff, data: {holiday_target: 'input'}, value: '' %>
        <%= f.submit '新增', class: 'void-btn mt-4 inline-block', data: {holiday_target: 'submit'}, disabled: true %>
      <% end %>
      
    </div>
    <div class="grid grid-cols-1 grid-rows-3 gap-2 mt-auto lg:col-span-3 md:grid-cols-3 xl:col-span-2 xl:grid-cols-2">
      <%= render @holidays %>
    </div>
    
  </section>






