<main class='grid h-screen grid-cols-3 grid-rows-2 gap-4 p-6 ml-20 bg-hoverGray'>
  <section class='mb-auto bg-white border rounded' data-controller='opening-time'>
    <h2 class='py-2 text-2xl font-bold text-center border-b '>營業時段</h2>
    <div class='grid grid-cols-2 p-6 text-left'>
      <div>
        <h3 class='inline py-2 text-xl font-bold'>新增營業時段</h3>
        
        <%= form_with(model: @opening_time, 
                      url: backstage_restaurant_opening_times_path(@restaurant),
                      local: false) do |f| %>
          <div data-controller='opening-time-form'>
            <%= f.label :opening_time, '時段：'%>
            <div class='text-center'>
              <div>
                <%= f.time_select :opening_time, {minute_step: 15}, data: {opening_time_form_target: 'StartTime', action: 'change->opening-time-form#getOpeningTime'}%>
              </div>
              <div>至</div>
              <div class='mb-4'>
                <%= f.time_select :closed_time, {minute_step: 15}, data: {opening_time_form_target: 'CloseTime', action: 'change->opening-time-form#getClosedTime'} %>
              </div>
              <%= f.submit '儲存', class: 'disabled-btn', data: {opening_time_form_target: 'submit'} %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='list'>
       <%= render @opening_times %>
      </div>
    </div>
  </section>

</main>


