<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse w-full">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <%= image_tag "iding_logo.png", class:" w-36 py-2 m-auto md:w-30 xl:w-30" %> 
          <div class="field">
            <label class="label">
              <%= f.label :email %>
            </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email",class: "input input-bordered w-full"%>
          </div>
        </div>

        <div class="form-control">
          <div class="field">
            <label class="label">
              <%= f.label :password %> 
            </label>
            <%= f.password_field :password, autocomplete: "current-password" ,placeholder: "password",class: "input input-bordered w-full" %>
          </div>
        </div>

        <div class="flex justify-between">
          <div class="field pt-5 mx-2">
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class:"rounded"%>
                <%= f.label :remember_me %>
            <% end %>
          </div>

          <div class="pt-5">
            <%= link_to "Forgot your password?", new_password_path(resource_name), class:"text-xs font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700 "%>
          </div>
        </div>
       

        <div class="mt-6">
          <div class="field">
            <%= f.submit "Log in", class: "w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300" %>
          </div>
        </div>
    <% end %>
    

        <div class="my-1 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
          <p class="mx-4 mb-0 text-center font-semibold dark:text-neutral-200">OR</p>
        </div>

        <%= render "users/shared/links" %>
          
        <p class="mt-8 mx-2 text-sm">Need an account? <%= link_to "Create an account", new_registration_path(resource_name), class:"text-blue-500 hover:text-blue-700 font-semibold mx-2" %> 
        </p>
    </div>
  </div>

  <div class="text-center lg:text-left w-100">
    <%= image_tag "logo_column.png", class:" w-full py-2 m-auto md:w-30 xl:w-30" %> 
  </div>

</div>



