<%= form_with(model: [ :admin, @restaurant ], data: { turbo: false }) do |f| %>

  <div>
    <%= f.label :name, "餐廳名稱" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :URL, "網址名稱" %>
    <%= f.text_field :URL %>
  </div>

  <div>
    <%= f.label :tel, "餐廳電話"%>
    <%= f.text_field :tel %>
  </div>

  <div>
    <%= f.label :address, "餐廳地址" %>
    <%= f.text_field :address, size: 50 %>
  </div>

  <div>
    <%= f.label :description, "餐廳介紹" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :UBN, "統編" %>
    <%= f.text_field :UBN %>
  </div>

  <div>
    <%= f.label :mealtime, "用餐時間" %>
    <%= f.number_field :mealtime, step: 5 %>
  </div>

  <div>
    <%= f.label :reserve_interval, "訂位間隔" %>
    <%= f.number_field :reserve_interval, step: 5 %><span>分鐘</span>
  </div>

   <div>
      <%= f.label :bookday_advance, '提前訂位日：',class:"w-20" %>
      <%= f.number_field :bookday_advance, min: 1 %>
  <div>
    <%= f.label :image, "餐廳形象照"%>
    <em>(檔案類型：jpg jpeg gif png)</em><br />
    <%= f.file_field :image %>
  </div>

  <%= f.submit %>
<% end %>