<h1>你的餐廳列表</h1>

<%= link_to '回首頁', root_path %>
<%= link_to '新增餐廳', new_admin_restaurant_path %>

<ul> 
  <% @restaurants.each do |restaurant| %>
    <li>餐廳名稱：<%= link_to restaurant.name, admin_restaurant_path(restaurant)  %></li>
    <li><%= link_to '修改餐廳資訊', edit_admin_restaurant_path(restaurant) %></li>
    <li><%= link_to '刪除此餐廳', admin_restaurant_path(restaurant), data:{ turbo_method: 'delete', turbo_confirm: '確認刪除？'} %></li>
    <li><%= link_to "編輯營業時間", edit_admin_open_time_path(restaurant) %></li>
  <% end %>
</ul>