<%= render "shared/navbar" %>

<div class="flex flex-col justify-center min-h-screen bg-gray-100">
  <div class="w-full pt-20 md:w-2/3 lg:w-2/3 sm:mx-auto">
    <div class="px-4 mx-8 bg-white shadow md:mx-0 rounded-3xl sm:p-10">
      <div class="mx-auto">
        <div class="flex items-center pt-10 md:pt-0">
          <div class="flex self-start m-auto text-xl font-semibold text-gray-700">
            <%= image_tag "logo.png", class: "w-10 m-auto" %>
            <h2 class="text-2xl leading-relaxed">新增餐廳</h2>
          </div>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-4 text-base leading-6 text-gray-700 sm:text-lg">
            <div class="flex flex-col">
              <%= form_with(model: [:admin, @restaurant], data: { turbo: false }) do |f| %>
                <div class="block lg:flex">
                  <div class="w-full lg:w-1/3">
                    <div class="m-1">
                      <%= f.label :name, "餐廳名稱*", class: "leading-loose text-base" %>
                      <%= f.text_field :name, class: "iding-customer-input", required: true %>
                    </div>

                    <div class="m-1">
                      <%= f.label :url, "網址名稱*", class: "leading-loose text-base" %>
                      <%= f.text_field :url, class: "iding-customer-input", required: true %>
                    </div>

                    <div class="mx-1 my-3">
                      <%= f.label :tel, "餐廳電話*", class: "leading-loose text-base" %>
                      <span class="block text-xs "><em>例 : XX-XXXX-XXXX</em></span>
                      <%= f.text_field :tel, pattern: "0[0-9]{1}-[0-9]{4}-[0-9]{4}", title: '請輸入您的餐廳電話', class: "iding-customer-input", required: true %>
                    </div>
                  </div>

                  <div class="w-full lg:w-1/3">
                    <div class="m-1">
                      <%= f.label :address, "餐廳地址*", class: "leading-loose text-base" %>
                      <%= f.text_field :address, size: 50, class: "iding-customer-input", required: true %>
                    </div>
                    <div class="m-1">
                      <%= f.label :ubn, "統編", class: "leading-loose text-base" %>
                      <%= f.text_field :ubn, class: "iding-customer-input" %>
                    </div>
                    <div class="m-1 my-2">
                      <%= f.label :image, "餐廳形象照", class: "leading-loose text-base" %>
                      <span class="block text-xs "><em>(檔案類型：jpg / jpeg / gif / png)</em></span>
                      <%= f.file_field :image, class: "border w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none ring-gray-200 focus:ring-2 ring-offset-2 border-gray-500 focus:border-transparent" %>
                    </div>
                  </div>
                  <div>
                    <div class="m-1">
                      <%= f.label :description, "餐廳介紹", class: "leading-loose text-base" %>
                      <%= f.text_area :description, class: "h-32 text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent" %>
                    </div>

                    <div class="m-1 my-2">
                      <%= f.label :menus, "餐廳菜單", class: "leading-loose text-base" %><span class="text-xs"><em>(每次上傳紀錄會覆蓋)</em></span>
                      <span class="block text-xs"><em>(檔案類型：jpg / jpeg / gif / png / avif)</em><br /></span>
                      <%= f.file_field :menus, multiple: true, class: "border w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none ring-gray-200 focus:ring-2 ring-offset-2 border-gray-500 focus:border-transparent" %>
                    </div>
                  </div>
                </div>

                <div class="flex items-center pt-4 space-x-4">
                  <%= f.submit class: "cursor-pointer flex m-auto mt-8 px-5 py-2.5 font-medium text-white bg-teal-700 rounded-lg hover:bg-teal-800 ease-in-out" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
