<section data-controller="hamburger" class="h-screen lg:flex dark:bg-white dark:text-gray-700">
  <%= render "shared/adminSidebar" %> 

  <div data-controller="intro">
    <%= render "/shared/adminNavbar"%>
    
    <%= turbo_frame_tag "calendar", class: 'lg:flex m-3 relative h-[calc(100%-96px)]' do %>
      <div data-hamburger-target="nav" class="top-0 hidden w-4/5 mx-auto lg:block lg:w-1/3">
        <%= turbo_frame_tag "reservation_edit" do %>
          <div class="mx-1 mt-5 bg-white border-2 border-b rounded-lg shadow addreservation">
            <div class="flex justify-center">
              <div>
                <%= image_tag "logo.png", class: "w-14 md:w-30 xl:w-30 py-2" %>
              </div>
              <h1 class="py-5 text-2xl font-semibold dark:text-gray-600">新增訂位</h1>
            </div>
            <%= form_with(model: @reservation, url: admin_restaurant_reservations_path(@restaurant), method: :post, data: { turbo: false }) do |form| %>
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
              <div class="px-5 pb-5">
                <%= form.text_field :name, class: "iding-input", placeholder: "姓名*", required: true, pattern: "^[a-zA-Z\u4e00-\u9fa5]+$", title: '姓名不得包含數字' %>
                <%= form.phone_field :tel, class:"iding-input", placeholder: "電話*", type: "tel", required: true %>
                <div class="flex gap-2">
                  <%= form.date_field :date, placeholder: "日期", data: { "controller": "flatpickr" }, class: "iding-input cursor-text",required: true %>
                  <%= form.time_field :time, placeholder: "時間", data: { controller: "flatpickr" }, class: "iding-input cursor-text", required: true %>
                </div>
                <div class="flex gap-2">
                  <%= form.label :adults ,"大人*",class: "w-36 flex mt-2 flex-col justify-center" %>
                  <%= form.number_field :adults, class: "iding-input", placeholder: "大人", min: 0, value: 1, required: true %>
                  <%= form.label :kids ,"小孩" ,class: "w-32 flex mt-2 flex-col justify-center"%>
                  <%= form.number_field :kids, class: "iding-input", placeholder: "小孩", min: 0, value: 0, required: true %>
                </div>
                <%= form.text_area :note, class: "iding-textarea", placeholder: "備註" %>

                <div class="flex gap-2">
                  <%= table_select_options(@restaurant, form) %>
                </div>

              </div>
              <div class="flex flex-row-reverse py-6">
                <div class="flex-initial m-auto">
                  <%= form.submit "建立訂位", class: "cursor-pointer flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-teal-700 rounded-md hover:bg-teal-800 focus:outline-none focus:bg-teal-900 transition duration-300 transform active:scale-95 ease-in-out" %>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
      </div>
    
      <div class="w-full lg:w-3/4 h-[calc(100%-90px)]">
        <div class="reservationList top-0 w-11/12 mx-auto mt-5 overflow-y-auto bg-white rounded-lg shadow  lg:absolute lg:right-2 lg:w-4/6 lg:h-[calc(95%)]">
          <% @reservations&.each do |reservation| %>
            <div class="w-full border-b rounded">
              <div class="flex items-center justify-between px-5 py-2 font-black bg-gray-200 border lg:pl-12">
                <div>
                  <%= reservation.date%>
                  <span class="mx-2"><%= reservation.time.strftime('%R') %></span>
                  <span class="text-sm">訂位狀態：</span>
                  <div class="inline " id="reservation-state-<%= reservation.id %>">
                    <%= t("reservations.state.#{reservation.state}") %>
                  </div>
                </div>
                
                <div class="flex">
                  <div data-controller="check" data-check-url-value="<%= reservation.id %>">
                    <button data-action="click->check#checkIn" class="mx-5">
                      <i class="fa-regular fa-square-check"></i>入座
                    </button>
                  </div>

                  <div data-controller="leave" data-leave-url-value="<%= reservation.id %>">
                    <button data-action="click->leave#guestLeave" class="mx-5">
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>離席
                    </button>
                  </div>

                  <div class="mx-5">
                    <%= link_to admin_restaurant_reservation_path(restaurant_id: @restaurant.id, id: reservation.id), data: { turbo_method: 'delete', turbo_confirm: '確定刪除訂位?' } do %>
                      <i class="fa-regular fa-trash-can"></i>
                      <span>刪除</span>
                    <% end %>
                  </div>    
                </div>  
              </div>

              <div class="flex items-center justify-around lg:mx-5 sm:justify-between">
                <div class="flex">
                  <div class="my-auto">
                    <%= link_to edit_admin_restaurant_reservation_path(restaurant_id: @restaurant.id, id: reservation.id), data: { turbo_frame: "reservation_edit" } do %>
                      <i class="fa-solid fa-pen-to-square"></i>
                    <% end %>
                  </div>
                  <div class="lg:mx-3 lg:w-24 lg:h-24">
                    <div class="hidden lg:inline">
                      <%= image_tag "cat-default-avatar.png" %>
                    </div>
                  </div>
                  <div class="items-center w-20 mx-1 my-auto lg:mx-2 lg:w-24">
                    <div class="text-sm font-bold lg:text-lg">
                      <%= reservation.name %>
                    </div>
                    <div class="opacity-50 lg:inline lg:text-sm">
                      <%= reservation.tel %>
                    </div>
                  </div>
                </div>
                <div class="flex lg:w-16">
                    <%= reservation.adults %> 位大人<br>
                    <%= reservation.kids %> 位小孩
                </div>
                <div class="px-4 py-3 text-lg font-medium border-2 rounded-lg">
                  <% if reservation.table.present? %>
                    <%= reservation.table.name %>
                  <% else %>
                    桌號
                  <% end %>
                </div>
                <div class="w-16 text-center lg:w-24">
                  <%= reservation.note %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
