<%= render "shared/navbar" %> 
<div class="min-h-screen hero">
  <video width="640" height="360" autoplay muted loop class="object-cover w-full h-full">
    <source src="/cooking.mp4" type="video/mp4">
  </video>

  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">iDing</h1>
      <p class="mb-5 text-3xl">享受訂位系統的神奇方程式</p>
        <% if user_signed_in? %>
          <%= link_to admin_restaurants_path do %>
            <button class="btn btn-gray">管理餐廳</button>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path do %>
            <button class="btn btn-gray">立即註冊！</button>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<section class="py-4 lg:py-20">
  <div class="my-12 lg:mb-24">
    <h2 class="text-3xl font-bold text-center text-gray-700 md:text-4xl lg:text-4xl">
      訂位系統的神奇方程式
    </h2>
  </div>
  
  <div class="w-10/12 m-auto lg:flex lg:w-10/12">
    <div class="lg:flex lg:w-2/3">
        <%= image_tag "officalweb.jpg", class: "w-full rounded-xl" %>
    </div>
    <div class="flex flex-col justify-center mx-2 lg:mx-12 lg:w-2/3">
      <p class="my-12 font-semibold text-gray-600 lg:text-lg lg:leading-10 ">
        擺脫厚重的傳統紙本登記，你只需要一台電腦！<br>就可以輕鬆管理餐廳的訂位，大幅提⾼控位能⼒。
        除了系統的顧客資訊外，更可以隨時掌握客人動態。<br>來看看 iDing 訂位系統是如何做到讓客人源源不絕吧！
      </p>
    </div>
  </div>
</section>

<section class="bg-neutral-100 ">
  <div class="flex justify-between w-10/12 py-10 mx-auto sm:px-6 lg:px-8 lg:py-14 ">
    <div class="flex flex-col justify-center ">
      <div class="flex my-3 gap-x-5 lg:my-6 ">
        <div>
          <%= image_tag "rebot.svg", class: "w-6" %>
        </div>
        <div class="grow">
          <h3 class="text-lg font-semibold text-gray-800">
            由餐廳從業人員開發
          </h3>
          <p class="mt-1 text-gray-600 ">
            100% 符合需求，化繁為簡，大大提升經營成效
          </p>
        </div>
      </div>
      <div class="flex my-3 gap-x-5 lg:my-6 ">
        <div>
          <%= image_tag "like.svg", class: "w-6" %>
        </div>
        <div class="grow">
          <h3 class="text-lg font-semibold text-gray-800">
            完全免費
          </h3>
          <p class="mt-1 text-gray-600">
            一句話：你喜歡，再用！更多功能持續優化中
          </p>
        </div>
      </div>
      <div class="flex my-3 gap-x-5 lg:my-6 ">
        <div>
          <%= image_tag "paper.svg", class: "w-6" %>
        </div>
        <div class="grow">
          <h3 class="text-lg font-semibold text-gray-800 ">
            簡單易懂的操作流程
          </h3>
          <p class="pr-5 mt-1 text-gray-600">
            丟掉複雜的說明書！不再浪費學習成本，使用最直覺的人因設計
          </p>
        </div>
      </div>
      <div class="flex my-3 gap-x-5 lg:my-6 ">
        <div>
          <%= image_tag "balloon.svg", class: "w-6" %>
        </div>
        <div class="grow">
          <h3 class="text-lg font-semibold text-gray-800">
            用過的都說讚
          </h3>
          <p class="pr-5 mt-1 text-gray-600">
            甫上市即突破 1 萬用戶註冊，歡迎參考我們的合作夥伴怎麼說
          </p>
        </div>
      </div>
    </div>
    <div class="hidden lg:flex lg:w-1/2">
        <%= image_tag "waiter.jpg", class: "w-full rounded-xl ml-auto lg:w-2/3  lg:m-auto" %>
    </div>
  </div>
</section>

<footer class="flex justify-center py-5">
  <p class="text-xs text-gray-600 sm:text-sm">© 2023 iDing. A product of <%= link_to "Hello 劍龍", root_path ,class:"text-slate-900 decoration-2 hover:underline font-semibold " %></p>
</footer>

