<section class="lg:flex">
  <div>
    <div class="drawer bg-base-100 flex justify-between lg:drawer-open z-10">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    
        <div class="lg:hidden">
            <%= image_tag "iding_logo.png", class:" w-36 m-auto py-2" %> 
        </div>

        <div class="drawer-content lg:hidden">
            <label for="my-drawer" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>
        </div>
        
        <div class="drawer-side">
            <label for="my-drawer" class="drawer-overlay"></label>
            <ul class="menu p-4 w-60 h-full bg-base-200 text-base-content flex flex-col justify-between lg:w-40">
                <div>
                    <%= image_tag "iding_logo.png", class:"w-40 m-auto py-2" %> 
                    <li class="font-semibold text-slate-700 my-2 mt-6"><a class="m-auto">訂位列表</a></li>
                    <li class="font-semibold text-slate-700 my-2 m-auto"><a class="m-auto">歷史紀錄</a></li>
                    <li class="font-semibold text-slate-700 my-2 m-auto"><a class="m-auto">訂位搜尋</a></li>
                    <li class="font-semibold text-slate-700 my-2 m-auto"><a class="m-auto">餐廳設定</a></li>
                </div>
                <div>
                    <li class="font-semibold text-slate-700 my-2 m-auto"><a class="m-auto">最新通知</a></li>
                    <li class="font-semibold text-slate-700 my-2 m-auto"><a class="m-auto">聯繫客服</a></li>
                </div>
            </ul>
        </div>
    </div>
  </div>

  <div>
    <div class="m-2 lg:mx-4">
        <div class="flex navbar bg-base-100 my-3 border-2 rounded-xl lg:w-[86vw]">
            <div class="lg:mr-auto">
                <a class="hidden btn btn-ghost normal-case lg:flex">返回</a>
            </div>

            <div class="m-auto lg:ml-auto">
                <a class="btn btn-ghost normal-case text-xl">行事曆</a>
            </div>

            <div class="lg:ml-auto">
                <a class="hidden btn btn-ghost normal-case lg:flex">時間軸</a>
                <a class="hidden btn btn-ghost normal-case lg:flex">列表</a>
                <a class="hidden btn btn-ghost normal-case lg:flex">桌位圖</a>
            </div>
        </div>
    </div>

    <div class="w-[90vw] mx-auto my-3 border-2 rounded-xl collapse bg-base-100 lg:hidden">
      <input type="checkbox" class="collapse-toggle hidden" id="collapse-form-toggle">
      <label for="collapse-form-toggle" class="cursor-pointer font-bold text-xl text-center">
        <h1 class="text-xl font-semibold">
        <%= image_tag "logo.png", class:"inline w-14 md:w-30 xl:w-30 py-2" %>
        新增訂位
        </h1>
      </label>
      <div class="collapse-content p-1">
        <div class="px-1 pb-1 ">
          <div class="flex gap-2">
            <input
              type="date"
              class="iding-input"
            />

            <input
              type="time"
              class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            />
          </div>

          <div class="flex gap-2">
            <input
              placeholder="大人"
              class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            />

            <input
              placeholder="小孩"
              class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            />
          </div>

          <input
            placeholder="姓名"
            class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
          />
          <input
            placeholder="電話"
            class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
          />

          <textarea
            placeholder="備註"
            class="textarea focus:textarea-border-transparent text-black h-32 placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
          ></textarea>

          <input
            placeholder="桌號"
            class="text-black placeholder-gray-600 w-full px-4 py-2.5  text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
          />
        </div>

        <div class="flex flex-row-reverse py-6">
          <div class="flex-initial m-auto">
            <button
              type="button"
              class="flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-black rounded-md hover:bg-gray-800 focus:outline-none focus:bg-gray-900 transition duration-300 transform active:scale-95 ease-in-out"
            >
              <%= image_tag "save-icon"%>
              <span class="pl-2 mx-1">建立訂位</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:flex mx-2">
      <div class="hidden w-4/5 lg:block lg:m-auto lg:w-1/4">
        <div class="mt-5 bg-white rounded-lg shadow">
          <div class="flex justify-center">
            <div>
              <%= image_tag "logo.png", class:" w-14 md:w-30 xl:w-30 py-2" %>
            </div>
            <h1 class="text-2xl font-semibold py-5">新增訂位</h1>
          </div>
          <div class="px-5 pb-5">
            <div class="flex gap-2">
              <input
                type="date"
                class="iding-input"
              />

              <input
                type="time"
                class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
              />
            </div>

            <div class="flex gap-2">
              <input
                placeholder="大人"
                class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
              />

              <input
                placeholder="小孩"
                class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
              />
            </div>

            <input
              placeholder="姓名"
              class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            />
            <input
              placeholder="電話"
              class="text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            />

            <textarea
              placeholder="備註"
              class="textarea focus:textarea-border-transparent text-black h-32 placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            ></textarea>

            <input
              placeholder="桌號"
              class="text-black placeholder-gray-600 w-full px-4 py-2.5  text-base transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500"
            />
          </div>

          <div class="flex flex-row-reverse py-6">
            <div class="flex-initial m-auto">
              <button
                type="button"
                class="flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-black rounded-md hover:bg-gray-800 focus:outline-none focus:bg-gray-900 transition duration-300 transform active:scale-95 ease-in-out"
              >
                <%= image_tag "save-icon"%>
                <span class="pl-2 mx-1">建立訂位</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-3/4">
        <div class="mt-5 mx-5 bg-white rounded-lg shadow">
          <table class="table">
            <tr>
              <th>18:00</th>
            </tr>
            <tr>
              <td>
                <div class="lg:flex items-center">
                  <div class="avatar">
                    <div class="lg:w-24 lg:h-24">
                      <%= image_tag "cat-default-avatar.png", class:"hidden lg:inline"%>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold text-sm lg:text-lg">黃色的 先生</div>
                    <div class="lg:inline lg:text-sm opacity-50">0983 000 000</div>
                  </div>
                </div>
              </td>
              
              <td class="hidden max-w-sm lg:table-cell lg:max-w-xs">
                <div class="max-w-sm lg:max-w-xs">備註備註備註</div>
              </td>

              <td>
                <div class="lg:flex items-center gap-10">
                  <div class="text-2xl text-center lg:text-3xl">2</div>
                  <div>
                    <button class="flex m-auto border-2 py-2 px-5 rounded-lg">
                      A1
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xl lg:text-2xl">18:00</p>
              </td>
              <th>
                <button class="btn btn-ghost btn-xs">D</button>
              </th>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</section>
