<%= form_with(model: model, data:{ turbo: false }) do |f| %> 
  <div>
    <%= f.label :name, "姓名*" %> <br>
    <%= f.text_field :name ,class: "rounded-lg"%>
  </div>

  <div>
    <%= f.label :tel, '電話*' %><br>
    <%= f.text_field :tel ,class: "rounded-lg" %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email ,class: "rounded-lg" %>
  </div>

  <%= f.submit "新增顧客",  class: 'action-btn' %>
<% end %>