<%= form_with(model: [ @restaurant, @reservation ], data:{ turbo: false }) do |f| %>

<div class="m-5">
    <div class="flex m-2">
        <div>
            <%= f.label :date, '日期' %>
            <%= f.date_field :date %>
        </div>

        <div>
            <%= f.label :time, '時間' %>
            <%= f.time_field :time  %>
        </div>
    </div>
    
    <div class="flex m-2">
        <div>
            <%= f.label :name, '名字' %>
            <%= f.text_field :name  %>
        </div>

        <div>
            <%= f.label :gender, '性別' %>
            <%= f.text_field :gender  %>
        </div>
    </div>

    <div>
        <%= f.label :phone, '電話' %>
        <%= f.text_field :phone  %>
    </div>

    <div>
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email  %>
    </div>


    <div>
        <%= f.label :adult_num, '大人' %>
        <%= f.number_field :adult_num %>
    </div>

    <div>
        <%= f.label :kid_num, '小孩' %>
        <%= f.number_field :kid_num %>
    </div>

    <div>
        <%= f.label :purpose, '用餐目的' %>
        <%= f.text_field :purpose %>
    </div>

    <div>
        <%= f.label :note, '備註' %>
        <%= f.text_area :note %>
    </div>

    <%= f.submit class: 'action-btn' %>
</div>

  <div>            
    <% time_range = RestaurantsHelper::TimeRange.new(@open_time, @restaurant.reserve_interval) %>
    <h4 class='reservation-font'>用餐時間</h4>
    <div class='grid grid-cols-5 gap-3 md:grid-cols-7'  data-restaurant-reservation-target='timeBtn'>
      <% time_range.makelist.each do |time_point| %>
        <button class="selection-btn">
          <%= time_point %>
        </button>
      <% end %>
      <input type="hidden" name="arrival_time" data-restaurant-reservation-target='timeInput'>
    </div>
  </div>



<% end %>