<h1><%= @restaurant.name %>訂位總覽</h1>

<%= link_to '新增訂位', new_restaurant_reservation_path, class: 'action-btn cursor-pointer' %>

<ul> 
  <% @reservations.each do |reservation| %>
    <%# if r.date.to_date == Date.today %>
    <li>
      <div class="border-2 ">
        <div class="flex ">
          日期：<%= reservation.date %>
          時間：<%= reservation.time.strftime('%R') %>
        </div>
        <div>
          姓名：<%= reservation.name %>
        </div>
        <div>
          email：<%= reservation.email %>
        </div>

        <div class="flex">
          大人：<%= reservation.adults %>
          小孩：<%= reservation.kids %>
        </div>
        <div>
          用餐目的：<%= reservation.purpose %>
        </div>
        <div>
          用餐備註：<%= reservation.note %>
        </div>
        <%= link_to '更新', edit_restaurant_reservation_path(reservation.restaurant, reservation), class: 'action-btn cursor-pointer' %>
        <%= link_to '刪除', restaurant_reservation_path(reservation.restaurant,reservation), data:{ turbo_method: 'delete',
                                                turbo_confirm: '確認刪除？'
                                                },
                                                class: 'action-btn cursor-pointer' %>
      </div>  
    </li>
      <%# end %> 
  <% end %> 
</ul>