<h1><%= @restaurant.name %>訂位總覽</h1>

<%= link_to '新增訂位', new_restaurant_reservation_path, class: 'action-btn' %>

<ul> 
  <% @reservations.each do |r| %>
    <%# if r.date.to_date == Date.today %>
    <li>
      <div class="border-2 ">
        <div class="flex ">
          日期：<%= r.date %>
          時間：<%= r.time.strftime('%R') %>
        </div>
        <div>
          姓名：<%= r.name %>
        </div>
        <div>
          email：<%= r.email %>
        </div>

        <div class="flex">
          大人：<%= r.adult_num %>
          小孩：<%= r.kid_num %>
        </div>
        <div>
          用餐目的：<%= r.purpose %>
        </div>
        <div>
          用餐備註：<%= r.note %>
        </div>
        <%= link_to '更新', edit_restaurant_reservation_path(r.restaurant, r), class: 'action-btn' %>
        <%= link_to '刪除', restaurant_reservation_path(r.restaurant,r), data:{ turbo_method: 'delete',
                                                turbo_confirm: '確認刪除？'
                                                },
                                                class: 'action-btn' %>
      </div>  
    </li>
      <%# end %> 
  <% end %> 
</ul>