<div class="min-h-screen hero bg-base-200 dark:bg-white">
  <div class="flex-col w-full hero-content lg:flex-row-reverse">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex-shrink-0 w-full max-w-sm shadow-2xl card bg-base-100 dark:bg-white">
      <div class="card-body">
        <div class="form-control">
            <div class="flex px-10 py-2 mb-2">
            <h1 class="text-3xl font-bold text-right text-gray-600 "><%= t('devise.Log In')%></h1>
            <%= image_tag "iding_logo.png", class:" inline w-36 m-auto md:w-30 xl:w-30" %>
          </div>
          <div class="field">
            <%= f.label :email,t('devise.Email'), class: "label dark:text-gray-700" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email",class: "input input-bordered  text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent dark:bg-white" %>
          </div>
        </div>

        <div class="form-control">
          <div class="field">
            <%= f.label :password, t('devise.Password'), class: "label dark:text-gray-700" %> 
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input input-bordered  text-black w-full px-4 py-2.5 mt-2 text-base transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:shadow-outline focus:ring-gray-400 focus:ring-2 ring-offset-2  focus:border-gray-500 focus:border-transparent dark:bg-white" %>
          </div>
        </div>

        <div class="flex justify-between">
          <div class="items-end pt-5 mx-2 text-sm field dark:text-gray-700">
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class:"rounded" %>
                <%= f.label :remember_me, t('devise.Remeber me') %>
            <% end %>
          </div>

          <div class="pt-5">
            <%= link_to t('devise.Forgot password?'), new_password_path(resource_name), class:"block mb-1 text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700" %>
          </div>


        </div>

        <div class="mt-2">
          <div class="field">
            <%= f.submit t('devise.Log In'), class: "cursor-pointer w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300" %>
          </div>
        </div>
    <% end %>
    

        <div class="my-1 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
          <p class="mx-4 mb-0 font-semibold text-center dark:text-gray-700">OR</p>
        </div>

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
          <div class="flex m-auto">
            <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "w-full bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4  border border-gray-300 " do %>
            <%= image_tag "google-icon.svg", class:"w-7 inline m-2" %> 
            <%= "Google 登入" %>
            <% end %>
          </div>
          <% end %>
        <% end %> 
          
        <p class="mx-2 mt-8 text-sm text-center dark:text-gray-700"><%= t('devise.Not a member?')%><%= link_to t('devise.Sign up here'), new_registration_path(resource_name), class:"text-blue-500 hover:text-blue-700 font-semibold mx-2" %> 
        </p>
        <div class="m-auto">
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to t('devise.NotGettingEmail'), new_user_confirmation_path(resource_name), class:"text-blue-500 text-sm hover:text-blue-700 font-semibold mx-2" %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="hidden lg:block lg:text-left lg:w-100">
    <%= image_tag "logo_column.png", class:" w-full py-2 m-auto md:w-30 xl:w-30" %> 
  </div>

</div>



