<h1><%= @restaurant.name %></h1>

餐廳英文名稱：<%= @restaurant.english_name %>
餐廳電話：<%= @restaurant.tel %>
餐廳地址：<%= @restaurant.address %>
餐廳介紹：<%= @restaurant.description %>
統編：<%= @restaurant.UBN %>
餐廳形象照：