<%# 餐廳資訊 %>



<%# 訂位時間 %>  


<section class="max-w-screen-lg mx-auto my-14">
  <div>
    <% date_range = RestaurantsHelper::DateRange.new(@holidays, @restaurant.bookday_advance) %>

    <h4 class='reservation-font'>用餐日期</h4>
    <div class='grid grid-cols-5 gap-3 md:grid-cols-7'>
      <% date_range.reservation_range_date.each do |date| %>
        <button class='h-full py-1 time-btn'
                data-action='click->restaurant-reservation#getDate'
                data-restaurant-reservation-target='date'
                data-id='<%=@restaurant.id%>'
                value='<%= date %>'
                >
          <%= date.strftime('%m / %d') %>
          <%= "(#{@chinese_weekdays[date.wday]})" %>
        </button>
      <% end  %>
      <%#= f.hidden_field :date, data: {ordertime_target: "dateInput"}%>
    </div>
  </div>

</section>







<section class="max-w-screen-lg mx-auto my-14" data-controller="ordertime">
  <%= form_with(model: Reservation.new, url: restaurant_reservations_path(@restaurant), data:{ turbo: false }) do |f| %>
    <div>
      <% time_range = RestaurantsHelper::TimeRange.new(@open_time, @restaurant.reserve_interval) %>
      <h4 class='reservation-font'>用餐時間</h4>
      <div class='grid grid-cols-5 gap-3 md:grid-cols-7'>
        <% time_range.makelist.each do |time_point| %>
        <button class="time-btn" data-ordertime-target='timebtn' data-action="click->ordertime#clickTime"
                value='<%= time_point %>'>
          <%= time_point %>
        </button>
        <% end %>
      </div>
    </div>
    <%= f.hidden_field :time, data: {ordertime_target: "timeInput"}%>
    <%= f.submit '預約', class: 'action-btn' %>
  <% end %>
</section>
