<%= form_with( model: [:admin, @restaurant, @table], data: { turbo: false}) do |f| %>

<div>
  <%= f.label :name, '桌號' %>
  <%= f.text_field :name , data: { alert_target: "field" } %>
</div>

<div class="w-1/5">
  <%= f.label :category, '桌型' %>
  <%= f.select :category, Table.categories.map { |k, _| [k.to_s, k.to_s] } %>
</div>

<div>
  <%= f.label :seat_num, '座位數' %>
  <%= f.number_field :seat_num %>
</div>

<div>
  <%= f.submit class: 'action-btn cursor-pointer' %>
</div>

<% end %>

