<section class="h-screen lg:flex">
  <%= render "/shared/backhouseSidebar"%>  
  <div>
    <div class="m-2 lg:mx-4">
      <div class="flex navbar bg-base-100 my-3 border-2 rounded-xl lg:w-[86vw]">
        <div class="lg:mr-auto">
          <%= link_to admin_restaurants_path do %>
            <p class="hidden normal-case btn btn-ghost lg:flex">返回</p>
          <% end %>
        </div>
        <div class="m-auto lg:ml-auto">
          <a class="text-xl normal-case btn btn-ghost">行事曆</a>
        </div>
        <div class="lg:ml-auto">
          <a class="hidden normal-case btn btn-ghost lg:flex">時間軸</a>
          <a class="hidden normal-case btn btn-ghost lg:flex">列表</a>
          <%= link_to '桌位圖', tablemap_admin_restaurant_tables_path(@restaurant), class:"hidden normal-case btn btn-ghost lg:flex"%>
        </div>
      </div>
    </div>

    <div class="m-3 h-[calc(100%-96px)]">
      <h1 class="text-2xl">編輯桌子們</h1>
      <div>
        <%= link_to '新增桌子', new_admin_restaurant_table_path, class: "action-btn" %>
      </div>
      <div>
        <%= render 'form', restaurant: @restaurant, table: @table %>
      </div>
    </div>
  </div>
</section>