<section class="h-screen lg:flex dark:text-gray-700">
  <%= render "shared/adminSidebar" %> 
  <div>
    <%= render "shared/adminNavbar" %> 
    <%= turbo_frame_tag "calendar", class: 'lg:flex m-3 relative h-[calc(100%-96px)]' do %>
      <div data-controller='tablemap' class="mx-auto dark:text-gray-700">
        <div class="flex items-center justify-between w-11/12 py-1 mx-auto">
          <div class="px-1">
            <span class="text-lg font-bold dark:text-gray-700">今日訂位</span>
          </div>
          <div class="hidden inline-block text-gray-500 align-baseline" data-tablemap-target='hint'>
            點選桌子後以方向鍵移動(位置將自動儲存)
          </div>
          <div class="px-1 w-fit">
            <button class="px-4 action-btn" 
                    data-action='click->tablemap#startEdit'
                    data-tablemap-target='editBtn'>編輯座位</button>
            <button class="px-4 void-btn" 
                    data-action='click->tablemap#finishEdit'
                    data-tablemap-target='finishBtn'
                    disabled>結束編輯</button>
          </div>
        </div>
        <div id="draggable-container" class="Tablemap_Grid">
          <% (1056 - @tables.length * 8).times do |index| %>
            <% if @tables.any? && index < @tables.length %>
              <% table = @tables[index] %>
              <% image_name, reservation_name, reservation_time = table_image_and_name(table, @restaurant) %>
              <button class="relative bg-gray-300 focus:bg-emerald-300 draggable-source" 
                  style="grid-area: <%= table.site_y %> / <%= table.site_x %> / <%= table.site_y + 3 %> / <%= table.site_x + 3 %>;"
                  data-tablemap-target='table'
                  valuex = <%= table.site_x %>
                  valuey = <%= table.site_y %>
                  data-action='click->tablemap#showOrder'
                  data-id='<%= table.id %>'> 
                <%= image_tag image_name, class: "w-16 mx-auto" %>
                <div class="absolute w-full text-center translate-x-4" style="transform: translateY(-260%);">
                  <div><%= table.name %></div>
                </div>
                <div class="text-sm" style="transform: translateY(-210%);">
                  <%= reservation_time %>
                </div>
                <div class="absolute w-full text-center translate-x-4" style="transform: translateY(-200%);">
                  <%= reservation_name %>
                </div>
                <div class="fixed z-10 hidden overflow-y-auto bg-white border rounded cursor-auto border-slate-800 w-44" 
                    data-tablemap-target='order'
                    data-id='<%= table.id %>'
                    style="max-height: 200px">
                  <% if table.reservations.where(date: Date.today).empty? %>
                    <div class="py-3"><%= table.name %>今日尚無訂位</div>
                  <% else %>                  
                    <% table.reservations.where(date: Date.today).order(:time).each do |reservation| %>
                      <div>
                        <div class="w-full px-2 font-bold text-left"><%= reservation.time.strftime("%R") %></div>
                        <div class="flex px-2 border-b">
                          <span><%= reservation.name %></span>
                          <span class="flex items-end pr-2 text-sm"><%= gender_title(reservation.gender) %></span>
                          <%= reservation.adults %><span class="flex items-end text-sm">大</span>
                          <%= reservation.kids %><span class="flex items-end text-sm">小</span>
                        </div>                
                      </div>
                    <% end %>                
                  <% end %>
                </div>
              </button>
            <% else %>
              <div class="bg-gray-300 draggable-source" data-tablemap-target='empty'>
                <div class="empty">
                  <!-- 空白元素 -->
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
