<!DOCTYPE html>
<html class="dark:bg-white">
  <head>
    <title>iDing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/683a09c054.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/minified/introjs.min.css" rel="stylesheet">

  </head>

  <body>
    <main class="dark:bg-white">
      <div data-controller="notification"
          data-notification-notice="<%= notice %>"
          data-notification-alert="<%= alert %>">
      </div>
      <%= yield %>
    </main>
  </body>
</html>
